{% extends "base.html.twig" %}
{% block title %}Acceuil
{% endblock %}
{% block body %}
	{% for article in articles %}
		<div class="article">
			<h1>{{ article.title }}</h1>
			<img width="640" height="480" src="{{ article.image }}"  class="card-img" alt="...">
			<p>{{ article.description }}</p>
			{% set usernameA = article.getUser.getEmail|split("@")   %}
			<p>De :
				{{usernameA[0]}}</p>
			<p>Le :
				{{ article.getCreatedAt|date('d/m/Y') }}</p>
			<p>
				Il y'a
				{{ article.getComments|length}}
				{{article.getComments|length > 1 ? "commentaires" : "commentaire" }}</p>
			<p>
				<a href="{{ path('article', {'id': article.id}) }}">Voir l'article</a>
			</p>
		</div>
	{% endfor %}
	<div>
		{% for i in range(0,nbPages - 1) %}
			<span>
				<a href={{ path('articles') }}?page={{i + 1}}>{{i + 1}}</a>
			</span>
		{% endfor %}
	</div>
{% endblock %}
